/* BREAKPOINT XL */
@media (max-width: 1200px) {

}

/* BREAKPOINT XL */
@media (max-width: 992px) {
    .services {
        margin-top: 5rem;
    }

    .title {
        margin-bottom: 4rem;
    }

    .services-header {
        padding: 0 0 5rem 0;
    }

    .specialist {
        margin-top: 5rem;
    }

    .specialist-header {
        padding: 0 0 5rem 0;
    }

    .newsletter {
        margin-top: 5rem;
    }


    .col-md-4 {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .contact {
        padding-top: 0;
    }

    .contact__number {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .footer {
        margin-top: 5rem;
        padding: 3rem 0 5rem 0rem;
    }
    .footer-row {
        text-align: center;
     }
}

/* BREAKPOINT XL */
@media (max-width: 768px) {
    .nav {
        display: none;
    }

    // .search__input {
    //     display: none;
    // }

    // .search__icon {
    //     display: none;
    // }
}

/* BREAKPOINT XL */
@media (max-width: 576px) {
    .title {
        @include text($font-base, 700, 4.0rem, 4.8rem, $color-dark);
    }
 
    .info {
        margin-bottom: 5rem;
    }
    .contact{
        margin-bottom: 5rem;
    }

    .newsletter {
    
            &__title {
                margin-bottom: 4.7rem ;
                @include text($font-base, 700, 2.8rem, 3.6rem, $color-white);
            }
    
            &__form {
                max-width: 90%;
            }
    
            &__input {    
                padding: 1rem 0 1.2rem 1.5rem;
                padding-right: 12rem;
                @include text($font-base, 400, 1.6rem, 1.9rem, $color-black);
            }
    
            &__btn {
                padding: 0.5rem 1.2rem;
                right: 0.8rem;
            }
    
            &__link {
                @include text($font-base, 600, 1.6rem, 1.9rem, $color-white);
            }
    }
}