$font-base: 'Work Sans', sans-serif;

$color-gray: #575757;
$color-dark: #262626;
$color-black: #000000;
$color-white: #ffffff;
$color-primary: #8842F0;
$color-secondary: #F9F1FE;
$color-thrid: #1C1B1F;
$color-four: #6C6C6C;
$transition: .3s all ease-in-out;