*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

p {
  margin: 0; }

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto; }

body {
  font-family: "Work Sans", sans-serif; }

html {
  font-size: 10px; }

.nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.4rem; }
.nav__a {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9em;
  color: #000000;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  position: relative; }
  .nav__a::before {
    opacity: 0;
    content: '';
    display: block;
    position: absolute;
    background-color: #8842F0;
    height: 0.1rem;
    width: 100%;
    bottom: -0.3rem;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out; }
  .nav__a:hover {
    color: #8842F0; }
    .nav__a:hover::before {
      opacity: 1; }
  .nav__a.nav__a_active {
    color: #8842F0; }
    .nav__a.nav__a_active::before {
      opacity: 1; }

.search {
  position: relative; }
  .search__input {
    width: 100%;
    background: #000000;
    border-radius: 5rem;
    border: 0;
    outline: 0;
    padding: 1.3rem 1.8rem;
    padding-right: 4rem;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6em;
    color: #ffffff; }
    .search__input::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.7); }
    .search__input:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.7); }
    .search__input::-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.7); }
    .search__input::placeholder {
      color: rgba(255, 255, 255, 0.7); }
  .search__icon {
    right: 1.5rem;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

@media (max-width: 768px) {
  .search {
    display: none; } }
.logo {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #262626; }

.slider__item {
  border-radius: 3rem; }
  .slider__item img {
    border-radius: 3rem; }

#html .owl-theme .owl-dots {
  height: 2rem;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 2.5rem; }
  #html .owl-theme .owl-dots .owl-dot span {
    background: #000000; }
  #html .owl-theme .owl-dots .owl-dot.active span {
    background: #8842F0; }

.services {
  margin-top: 11.1rem; }

.services-header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 12.3rem 0; }

.services-card {
  padding: 4.6rem 2.6rem;
  text-align: center;
  background: #F9F1FE;
  border-radius: 1.5rem;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out; }
  .services-card__title {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: #262626;
    padding: 2.7rem 0 1.7rem 0; }
  .services-card__text {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #575757;
    margin-bottom: 1.7rem; }
  .services-card__link {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #8842F0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.2rem; }
  .services-card:hover {
    background: #8842F0; }
    .services-card:hover .services-card__title,
    .services-card:hover .services-card__text,
    .services-card:hover .services-card__link {
      color: #ffffff; }

.specialist {
  margin-top: 11.1rem; }

.specialist-header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 12.3rem 0; }

.specialist-card {
  padding: 4.4rem 3.9rem 3.3rem 3.8rem;
  background: #F9F1FE;
  border-radius: 2rem; }
  .specialist-card__text {
    margin-top: 3.5rem;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #575757; }
  .specialist-card__btn {
    margin-top: 2.8rem;
    display: block;
    padding: 1.1rem 4.9rem;
    background: #8842F0;
    border-radius: 5rem;
    border: 0;
    outline: 0;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out; }
    .specialist-card__btn:hover {
      outline: 1px solid #8842F0;
      background: #F9F1FE; }
  .specialist-card__link {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.3rem;
    color: #F9F1FE;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out; }
    .specialist-card__link:hover {
      color: #8842F0; }

.specialist-card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.3rem; }
  .specialist-card-header__title {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.3rem;
    color: #262626; }
  .specialist-card-header__subtitle {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #575757; }

.specialist-card__image {
  border-radius: 50%; }

.title {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.6rem;
  color: #262626;
  text-align: center;
  margin-bottom: 7rem; }

.desc {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #262626;
  text-align: center; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.pb-3 {
  padding-bottom: 3rem; }

.newsletter {
  padding: 8rem 0;
  margin-top: 13.9rem;
  background: #1C1B1F;
  border-radius: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .newsletter__title {
    margin-bottom: 4.7rem;
    text-align: center;
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 4.2rem;
    color: #ffffff; }
  .newsletter__form {
    padding: 0;
    position: relative; }
  .newsletter__input {
    width: 100%;
    background: #F9F1FE;
    border-radius: 5rem;
    border: 0;
    outline: 0;
    padding: 2rem 0 2.5rem 3.1rem;
    padding-right: 18rem;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #000000; }
    .newsletter__input::-webkit-input-placeholder {
      color: #6C6C6C; }
    .newsletter__input:-ms-input-placeholder {
      color: #6C6C6C; }
    .newsletter__input::-ms-input-placeholder {
      color: #6C6C6C; }
    .newsletter__input::placeholder {
      color: #6C6C6C; }
  .newsletter__btn {
    position: absolute;
    padding: 1rem 2.4rem;
    background: #8842F0;
    border-radius: 2.2rem;
    border: 0;
    outline: 0;
    right: 1.5rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .newsletter__link {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.3rem;
    color: #ffffff; }
    .newsletter__link:hover {
      color: #1C1B1F; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 13.1rem;
  padding: 10.6rem 0 8.1rem 2rem;
  background: #F9F1FE; }

.footer-row {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start; }

.info__title {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #262626; }
.info__description {
  margin-top: 2.6rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #262626; }

.contact__address {
  margin-bottom: 3.7rem; }
.contact__title {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.3rem;
  color: #262626; }
.contact__description {
  margin-top: 0.9rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #262626; }
.contact__telephone {
  margin-bottom: 3.7rem; }
.contact__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.6rem; }
.contact__link {
  color: #8842F0; }
  .contact__link:hover {
    color: blue; }

.timetable__title {
  margin-bottom: 1.7rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.3rem;
  color: #262626; }
.timetable__description {
  margin-bottom: 1.5rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #262626; }

.header {
  padding: 5rem 0; }
  .header__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

/* BREAKPOINT XL */
/* BREAKPOINT XL */
@media (max-width: 992px) {
  .services {
    margin-top: 5rem; }

  .title {
    margin-bottom: 4rem; }

  .services-header {
    padding: 0 0 5rem 0; }

  .specialist {
    margin-top: 5rem; }

  .specialist-header {
    padding: 0 0 5rem 0; }

  .newsletter {
    margin-top: 5rem; }

  .col-md-4 {
    padding-top: 15px;
    padding-bottom: 15px; }

  .contact {
    padding-top: 0; }

  .contact__number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0; }

  .footer {
    margin-top: 5rem;
    padding: 3rem 0 5rem 0rem; }

  .footer-row {
    text-align: center; } }
/* BREAKPOINT XL */
@media (max-width: 768px) {
  .search__input {
    display: none; }

  .search__icon {
    display: none; } }
/* BREAKPOINT XL */
@media (max-width: 576px) {
  .title {
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.8rem;
    color: #262626; }

  .info {
    margin-bottom: 5rem; }

  .contact {
    margin-bottom: 5rem; }

  .newsletter__title {
    margin-bottom: 4.7rem;
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.6rem;
    color: #ffffff; }
  .newsletter__form {
    max-width: 90%; }
  .newsletter__input {
    padding: 1rem 0 1.2rem 1.5rem;
    padding-right: 12rem;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #000000; }
  .newsletter__btn {
    padding: 0.5rem 1.2rem;
    right: 0.8rem; }
  .newsletter__link {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #ffffff; } }
